@charset "utf-8";

/*WebPage Container*/
#all{
	font-family: "Century Gothic", Verdana, Geneva, sans-serif;
	font-size:12px;
}

/*Main Menu*/

#bgmainmenu{
	background-color:#000;
	height:75px;
	width:auto;
	margin: -8px -8px -10px -8px;
	text-transform: uppercase;
}

#pnmainmenu{
	width:900px;
	height:inherit;
	margin: 0px auto 0px auto;
}

#logo{
	width:150px;
	height:inherit;
	float:left;
}

#mainmenu{
	width:720px;
	height:inherit;
	float:left;
	padding-left:30px;
}

.bigparallelogram {
	width:120px;
	height:75px;
	-webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	float:left;
}

.smallparallelogram {
	height:50px;
	margin-top:25px;
	border-left:1px solid #999;
	text-transform: uppercase;
	
}
.menutitle{
	height:20px;
	width:100px;
	color:#FFF;
	font-size:14px;
	margin-left:3px;
	-webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
	-o-transform: skew(30deg);
}

.menusubtitle{
	height:35px;
	color:#FFF;
	font-size:8px;
	margin-left:20px;
	font-style:italic;
	-webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
	-o-transform: skew(30deg);
}

#home:hover, #homeselected{
	background: #1d8dd3; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #1d8dd3 0%, #000000 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1d8dd3), color-stop(80%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #1d8dd3 0%,#000000 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #1d8dd3 0%,#000000 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #1d8dd3 0%,#000000 80%); /* IE10+ */
	background: linear-gradient(135deg,  #1d8dd3 0%,#000000 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d8dd3', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#about:hover, #aboutselected{
	background: #3d0cd1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #3d0cd1 0%, #000000 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3d0cd1), color-stop(80%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #3d0cd1 0%,#000000 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #3d0cd1 0%,#000000 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #3d0cd1 0%,#000000 80%); /* IE10+ */
	background: linear-gradient(135deg,  #3d0cd1 0%,#000000 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d0cd1', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#functions:hover, #functionsselected{
	background: #8e31d6; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #8e31d6 0%, #000000 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8e31d6), color-stop(80%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #8e31d6 0%,#000000 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #8e31d6 0%,#000000 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #8e31d6 0%,#000000 80%); /* IE10+ */
	background: linear-gradient(135deg,  #8e31d6 0%,#000000 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e31d6', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#missions:hover, #missionsselected{
	background: #961b6f; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #961b6f 0%, #000000 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#961b6f), color-stop(80%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #961b6f 0%,#000000 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #961b6f 0%,#000000 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #961b6f 0%,#000000 80%); /* IE10+ */
	background: linear-gradient(135deg,  #961b6f 0%,#000000 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#961b6f', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	
#testimonies:hover, #testimoniesselected{
	background: #d80205; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #d80205 0%, #000000 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d80205), color-stop(80%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #d80205 0%,#000000 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #d80205 0%,#000000 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #d80205 0%,#000000 80%); /* IE10+ */
	background: linear-gradient(135deg,  #d80205 0%,#000000 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d80205', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	
#media:hover, #mediaselected{
	background: #ff93a0; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ff93a0 1%, #000000 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#ff93a0), color-stop(80%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ff93a0 1%,#000000 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ff93a0 1%,#000000 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ff93a0 1%,#000000 80%); /* IE10+ */
	background: linear-gradient(135deg,  #ff93a0 1%,#000000 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff93a0', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*Signin Button
#bgsignin{
	color:#000;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	text-transform: uppercase;
	float:right;
	background: -w ebkit-linear-gradient(top, rgba(198,198,198,1) 0%,rgba(252,252,252,1) 99%); 
	width:70px;
	height:18px;
	-webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	position:relative;
	top:-40px;
	box-shadow: 10px 14px 14px 13px #0C3;
  	-webkit-box-shadow: -3px 3px 15px 2px #7A7A7A;
  	-moz-box-shadow: 10px 14px 14px 13px #0C3;
}

#btnsigin{
	-webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	background:none;
	padding-left:8px;
}*/

/*Advertisement Content*/
#bgads{
	background:url(../images/static/sandbg.png);
	height:415px;
	width:auto;
	margin: 10px -8px 0px -8px;
}
#pnads{
	width:900px;
	height:400px;
	margin: 0px auto 0px auto;
}

#pnupdates{
	width:130px;
	float:left;
	padding: 160px 10px 0px 5px;
}

#updatescontent{
	background:url(../images/static/updatesbg.png);
	background-size: 120px 180px;
	width:100px;
	height:160px;
	padding:10px;
	font-size:14px;
	text-align:center;
}

#pnbanner{
	width:700px;
	float:left;
	height:350px;
	background:#c4b7a7;
	margin-left:50px;
	margin-top:30px;
	box-shadow: 10px 10px 10px -3px #666666;
  	-webkit-box-shadow: 10px 10px 10px -3px #666666;
  	-moz-box-shadow: 10px 10px 10px -3px #666666;
}

/*Sub Menu*/
#bgsubmenu{
	background:url(../images/static/sandbg.png);
	height:30px;
	width:auto;
	margin: 0px -8px 0px -8px;
}

.pnsubmenu{
	width:900px;
	height:30px;
	margin:0px auto 0px auto;
	padding:0px 0px 0px 30px;
	text-align:left;
}

.submenuparallelogram{
	height:30px;
	-webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	float:left;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #5b5b5b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#5b5b5b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#5b5b5b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#5b5b5b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#5b5b5b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#5b5b5b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-9 */

	margin-left:1px;
	text-transform: uppercase;
}

.submenutitle{
	height:20px;
	width:120px;
	color:#FFF;
	font-size:11px;
	-webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	padding-top:8px;
	text-align:center;
	margin-left:-3px;
}

#homesubmenu .submenuparallelogram:hover, #homesubselected{
	background: #0c4d99; /* Old browsers */
	background: -moz-linear-gradient(top,  #0c4d99 0%, #157fd6 50%, #0c4d99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c4d99), color-stop(50%,#157fd6), color-stop(100%,#0c4d99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0c4d99 0%,#157fd6 50%,#0c4d99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0c4d99 0%,#157fd6 50%,#0c4d99 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0c4d99 0%,#157fd6 50%,#0c4d99 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0c4d99 0%,#157fd6 50%,#0c4d99 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c4d99', endColorstr='#0c4d99',GradientType=0 ); /* IE6-9 */
}

#aboutsubmenu .submenuparallelogram:hover, #aboutsubselected{
	background: #000a68; /* Old browsers */
	background: -moz-linear-gradient(top,  #000a68 0%, #414BA4 51%, #000a68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000a68), color-stop(51%,#414BA4), color-stop(100%,#000a68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000a68 0%,#414BA4 51%,#000a68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000a68 0%,#414BA4 51%,#000a68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000a68 0%,#414BA4 51%,#000a68 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000a68 0%,#414BA4 51%,#000a68 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a68', endColorstr='#000a68',GradientType=0 ); /* IE6-9 */
}

#functionssubmenu .submenuparallelogram:hover, #functionssubselected{
	background: #4c00b7; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c00b7 0%, #6e3fb5 51%, #4c00b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c00b7), color-stop(51%,#6e3fb5), color-stop(100%,#4c00b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c00b7 0%,#6e3fb5 51%,#4c00b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c00b7 0%,#6e3fb5 51%,#4c00b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c00b7 0%,#6e3fb5 51%,#4c00b7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c00b7 0%,#6e3fb5 51%,#4c00b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c00b7', endColorstr='#4c00b7',GradientType=0 ); /* IE6-9 */
}

#missionssubmenu .submenuparallelogram:hover, #missionssubselected{
	background: #530840; /* Old browsers */
	background: -moz-linear-gradient(top,  #530840 0%, #891C6E 51%, #530840 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#530840), color-stop(51%,#891C6E), color-stop(100%,#530840)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #530840 0%,#891C6E 51%,#530840 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #530840 0%,#891C6E 51%,#530840 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #530840 0%,#891C6E 51%,#530840 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #530840 0%,#891C6E 51%,#530840 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#530840', endColorstr='#530840',GradientType=0 ); /* IE6-9 */
}

#testimoniessubmenu .submenuparallelogram:hover, #testimoniessubselected{
	background: #910000; /* Old browsers */
	background: -moz-linear-gradient(top,  #4B0000 0%, #91000 51%, #4B0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4B0000), color-stop(51%,#91000), color-stop(100%,#4B0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4B0000 0%,#910000 51%,#4B0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4B0000 0%,#91000 51%,#4B0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4B0000 0%,#91000 51%,#4B0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4B0000 0%,#91000 51%,#4B0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4B0000', endColorstr='#4B0000',GradientType=0 ); /* IE6-9 */
}

#mediasubmenu .submenuparallelogram:hover, #mediasubselected{
	background: #ef6e7b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ef6e7b 0%, #ef9ba4 51%, #ef6e7b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef6e7b), color-stop(51%,#ef9ba4), color-stop(100%,#ef6e7b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ef6e7b 0%,#ef9ba4 51%,#ef6e7b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ef6e7b 0%,#ef9ba4 51%,#ef6e7b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ef6e7b 0%,#ef9ba4 51%,#ef6e7b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ef6e7b 0%,#ef9ba4 51%,#ef6e7b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6e7b', endColorstr='#ef6e7b',GradientType=0 ); /* IE6-9 */
}

/*Home Page*/
.homesmallads{
	width:210px;
	float:left;
}

.homesmalladstitlebg{
	background:url(../images/static/stripesbar.jpg);
	background-repeat:no-repeat;
	height:23px;
	width:190px;
	text-align:center;
	padding-top:0px;
}


.homesmalladstitle{
	margin: 2px auto 0px auto;
	height:12px;
	width:100px;
	background:#FFF;
	text-transform:uppercase;
	font-family:  'Sintony', sans-serif;
	font-size:12px;
	display:inline-block;
    transform:scale(1.4,2.5); /* W3C */
    -webkit-transform:scale(1.4,2.5); /* Safari and Chrome */
    -moz-transform:scale(1.4,2.5); /* Firefox */
    -ms-transform:scale(1.4,2.5); /* IE 9 */
    -o-transform:scale(1.4,2.5);/* Opera */
}

.homesmalladsimage img{
	width:190px;
	height:140px;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

.homesmalladsimage img:hover{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}	

.socialmediahover:hover{
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

.homesmalladsnote{
	width:190px;
	height:60px;
}

/*Content Pages*/
#bgcontent{
	background:transparent;
	width:auto;
  	margin:0px -8px 0px -8px;
}

#pncontent{
	width:900px;
	margin:0px auto 0px auto;
	padding:20px;
	height:100%;
	overflow:hidden;
	text-align:justify;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
}

contenttitle{
	font-family:Century Gothic, sans-serif;
	font-size:48px;
	text-transform:uppercase;
}

.needhovereffect{
 	opacity:0.6;
	filter:alpha(opacity=60);
}
.needhovereffect:hover{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

/*Footer*/
#bgfooter{
	background:#000;
	width:auto;
	height:250px;
	margin:20px -8px -8px -8px;
	clear: both;	
}

#pnfooter{
	color:#FFF;
	width:900px;
	margin:0px auto 0 auto;
	padding-left:100px;
}

.footmenu{
	text-align:left;
	float:left;
	width:20%;
	line-height:30px;
	font-size:13px;
}

.footmenu a{
	text-decoration:none;
	color:#FFF;
}

.copyright{
	clear:both;
	color:#FFF;
	font-size:10px;
	text-align:center;
	}



